<label for="form_field_<?php echo $field ?>" <?php $this->printIfError($field, 'class="invalid"');?>>
  <?php echo $caption ?? $field; ?>
</label>
<input type="<?php echo $type ?? 'text' ?>" name="<?php echo $field ?>" value="<?php echo $this->html($value); ?>" id="form_field_<?php echo $field ?>"/>
<?php $this->printError($field); ?>
