<div>
  <form method="post">
    <label <?php $this->printIfError('name', 'class="invalid"');?>>Domain name:
      <input type="text" name="name" value="<?php echo $this->html($values['name'] ?? ''); ?>"/>
    </label>
    <?php $this->printError('name'); ?>
    <label <?php $this->printIfError('type', 'class="invalid"');?>>Type:
      <select name="type">
      <?php foreach ($types as $type): ?>
        <option <?php if ($type == ($values['type'] ?? '')) echo 'selected="selected"'; ?>>
          <?php echo $this->html($type); ?>
        </option>
      <?php endforeach; ?>
      </select>
    </label>
    <?php $this->printError('type'); ?>
    <button type="submit" class="button"><span class="material-icons">add</span> Add </button>
  </form>
</div>
