<div>
  <h2>Domains</h2>
  <a href="/domain/add" class="button"><span class="material-icons">add_circle</span> Add Domain</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
  <?php foreach ($domains as $domain): ?>
      <tr>
        <td><?php echo $this->html($domain->getName()); ?></td>
        <td><?php echo $this->html($domain->getType()); ?></td>
        <td>
          <a href="/domain/edit/<?php echo $domain->getId(); ?>" class="button"><span class="material-icons">edit</span> Edit</a>
        </td>
      </tr>
  <?php endforeach; ?>
    </tbody>
  </table>
</div>
