<div>
  <h2>Domain: <?php echo $domain->getName(); ?></h2>
  <form method="post">
    <label <?php $this->printIfError('type', 'class="invalid"');?>>Type:
      <select name="type" >
      <?php foreach ($types as $type): ?>
        <option <?php if ($domain->getType() == $type) echo 'selected="selected"'; ?>>
          <?php echo $this->html($type); ?>
        </option>
      <?php endforeach; ?>
      </select>
    </label>
    <?php $this->printError('type'); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_primary', 'value' => $SOA->getPrimary(), 'caption' => 'Primary']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_hostmaster', 'value' => $SOA->getHostmaster(), 'caption' => 'Hostmaster']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_serial', 'value' => $SOA->getSerial(), 'caption' => 'Serial']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_refresh', 'value' => $SOA->getRefresh(), 'caption' => 'Refresh']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_retry', 'value' => $SOA->getRetry(), 'caption' => 'Retry']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_expire', 'value' => $SOA->getExpire(), 'caption' => 'Expire']); ?>


    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'SOA_minimum', 'value' => $SOA->getMinimum(), 'caption' => 'Minimum']); ?>

    <button type="submit" class="button"><span class="material-icons">save</span> Save</button>
  </form>
</div>

<div>
  <h3>Records</h3>
  <a href="/record/add/<?php echo $domain->getId(); ?>" class="button"><span class="material-icons">add_circle</span> Add Record</a>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Content</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
  <?php foreach ($records as $record): ?>
      <tr>
        <td><?php echo $this->html($record->getName()); ?></td>
        <td><?php echo $this->html($record->getType()); ?></td>
        <td><?php echo $this->html($record->getContent()); ?></td>
        <td>
          <a href="/record/edit/<?php echo $record->getId(); ?>" class="button"><span class="material-icons">edit</span> Edit</a>
        </td>
      </tr>
  <?php endforeach; ?>
    </tbody>
  </table>
</div>
