<div>
  <h2>System Information</h2>
  <table>
    <?php foreach($info as $key => $value): ?>
    <tr>
      <th style="width: 20%;"><?php echo $this->html($key); ?></th>
      <td><?php echo $this->html($value); ?></td>
    </tr>
  <?php endforeach; ?>
  </table>
</div>
