<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <base href="<?php echo BASE_URL; ?>" />

  <title>PDNSAdmin :: <?= $title ?></title>
  <meta name="description" content="PowerDNS Admin" />

  <link rel="icon" href="img/favicon.ico" />

  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/style.css?_=<?=time();?>" />
  <script src="js/script.js?_=<?=time();?>"></script>

</head>

<body>
  <header>
    <a href="#" class="logo"><img src="img/powerdns-logo-trans.png" alt="PowerDNS" /><span>Administration Panel</span></a>
    <?php if (isset($user)): ?>
    <a href="/logout" class="button logout" id="logoutButton"><span class="material-icons">person</span> <span class="hideable"><?= $user->getFullName(); ?></span></a>
    <nav>
      <a href="/domain" <?php if ($this->isActive('domain')) echo 'class="active"'; ?>><span class="material-icons">domain</span> Domains</a>
      <a href="/users" <?php if ($this->isActive('users')) echo 'class="active"'; ?>><span class="material-icons">group</span> Users</a>
    </nav>
    <?php endif; ?>

  </header>
  <?php foreach ($this->notification as $notification): ?>
    <div class="notify notify-<?php echo $this->html($notification['class']); ?>"><?php echo $this->html($notification['msg']); ?></div>
  <?php endforeach; ?>
  <?=$content;?>
</body>
</html>
