<div class="login-form">
  <form method="post">
    <?php if (isset($error)): ?>
    <div class="notify notify-error"><?=$error;?></div>
    <?php endif; ?>
    <label>Login <input type="text" name="login" /></label>
    <label>Password <input type="password" name="password" /></label>
    <input type="submit" class="button" value="Log in" />
  </form>
</div>
