<div>
  <?php if ($record->isNew()): ?>
    <h2>New record for domain <a href="domain/edit/<?php echo $this->html($domain->getId()); ?>" ><?php echo $this->html($record->getDomain()->getName()); ?></a></h2>
  <?php else: ?>
    <h2>Domain: <a href="domain/edit/<?php echo $this->html($domain->getId()); ?>" ><?php echo $this->html($record->getDomain()->getName()); ?></a> Record: <?php echo $record->getName(); ?></h2>
  <?php endif; ?>
  <form method="post">

    <input type="hidden" name="domain_id" value="<?php echo $this->html($record->getDomain_id()); ?>" />

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'name', 'value' => $record->getName(), 'caption' => 'Name']); ?>

    <label <?php $this->printIfError('type', 'class="invalid"');?>>Type:
      <select name="type" >
      <?php foreach ($types as $type): ?>
        <option <?php if ($record->getType() == $type) echo 'selected="selected"'; ?>>
          <?php echo $this->html($type); ?>
        </option>
      <?php endforeach; ?>
      </select>
    </label>
    <?php $this->printError('type'); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'content', 'value' => $record->getContent(), 'caption' => 'Content']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'ttl', 'value' => $record->getTtl(), 'caption' => 'TTL']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'prio', 'value' => $record->getPrio(), 'caption' => 'Priority']); ?>

    <label for="form_field_disabled" class="checkbox">
      <span class="switch">
        <input type="checkbox" id="form_field_disabled" name="disabled" value="true" <?php if ($record->isDisabled()) echo 'checked="checked"' ?>/>
        <span class="slider"></span>
      </span>
       disabled?
    </label>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'ordername', 'value' => $record->getOrdername(), 'caption' => 'Order name']); ?>

    <label for="form_field_auth" class="checkbox">
      <span class="switch">
        <input type="checkbox" id="form_field_auth" name="auth" value="true" <?php if ($record->isAuth()) echo 'checked="checked"' ?>/>
        <span class="slider"></span>
      </span>
      auth?
    </label>


    <button type="submit" class="button"><span class="material-icons">save</span> Save</button>
  </form>
</div>
