<div>
  <?php if ($record->isNew()): ?>
    <h2>New user</h2>
  <?php else: ?>
    <h2>User: <?php echo $record->getFullName(); ?></h2>
  <?php endif; ?>
  <form method="post">

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'username', 'value' => $record->getUsername(), 'caption' => 'Username']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'password', 'value' => '', 'caption' => 'Password', 'caption' => 'Password', 'type' => 'password']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'firstname', 'value' => $record->getFirstname(), 'caption' => 'Firstname']); ?>

    <?php echo $this->fetchTemplate("_form_input.phtml",
      ['field' => 'lastname', 'value' => $record->getLastname(), 'caption' => 'Lastname']); ?>

    <label for="form_field_disabled" class="checkbox">
      <span class="switch">
        <input type="checkbox" id="form_field_disabled" name="is_admin" value="true" <?php if ($record->isAdmin()) echo 'checked="checked"' ?>/>
        <span class="slider"></span>
      </span>
       is Admin?
    </label>

    <button type="submit" class="button"><span class="material-icons">save</span> Save</button>
  </form>
</div>
