<div>
  <h2>Users</h2>
  <a href="users/add" class="button"><span class="material-icons">add_circle</span> Add user</a>

  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Admin</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
  <?php foreach ($users as $user): ?>
      <tr>
        <td><?php echo $this->html($user->getUsername()); ?></td>
        <td><?php echo $this->html($user->getFirstname()); ?></td>
        <td><?php echo $this->html($user->getLastname()); ?></td>
        <td><span class="material-icons"><?php echo $user->isAdmin() ? 'check' : 'no'; ?></span></td>
        <td>
          <a href="users/edit/<?php echo $user->getId(); ?>" class="button"><span class="material-icons">edit</span> Edit</a>
        </td>
      </li>
  <?php endforeach; ?>
    </tbody>
  </table>
</div>
