/*
Kolorki:
  szary: #797979;
  pomaranczowy: #e17f03
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 1em;
  font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none; color: #e17f03; }

a.logo {
  text-align: center;
  display: block;
  font-family: 'Roboto Mono', monospace;
  color: #797979;
  overflow: hidden;
  float: left;
  line-height: 1em;
  margin-right: 2em;
  margin-bottom: 1em;
}
a.logo img { height: 2em; display: block; }
a.logo:hover { color: #e17f03; }

header { margin-bottom: 1em; overflow: hidden; }

header nav {
  display: inline-block;
  border: 1px solid #797979;
  font-size: .6em;
  border-radius: 1em;
  overflow: hidden;
  clear: left;
}
header nav a {
  display: block;
  padding: .5em 1em;
  color: #797979;
  border-left: 1px solid #797979;
  line-height: 4em;
  height: 4em;
  margin: 0px;
  float: left;
}
header nav a:first-child { border-style: none; }
header nav a.active {
  background-color: #797979;
  color: white;
}
header nav a:hover {
  background-color: #e17f03;
  color: white;
}

/* FORMS */

input[type=text], input[type=password], select {
  width: 100%;
  padding: .5em;
  margin: .5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"].button, button.button {
  background-color: white;
  color: #797979;
  line-height: 1.5em;
  padding: .5em 2em;
  height: 5em;
}

.checkbox {
  margin: 1em 0;
  display: block;
  line-height: 34px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { opacity: 0; width: 0; height: 0; }
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { transform: translateX(26px); }


/* classes */

.button {
  display: inline-block;
  height: 4em;
  border: 1px solid #797979;
  padding: .5em 1em;
  border-radius: 1em;
  color: #797979;
  line-height: 4em;
  font-size: .6em;
  margin: 0px;
}
.button:hover, input[type="submit"].button:hover {
  background-color: #e17f03;
  color: white;
}
.logout {
  margin-left: 4em;
  float: right;
  margin-bottom: 1.5em;
}

.login-form {
  max-width: 30em;
  margin: auto;
}

.notify {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: .25em;
}

.notify-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.notify-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.notify-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.notify-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.error, .invalid {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.error { margin-bottom: 1em; }

/* table */

table {
  margin: 2em auto;
  border-collapse: collapse;
  width: 90%;
}
td, th {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) { background-color: #f2f2f2;}
tr:hover { background-color: #ddd; }


/* response */

@media only screen and (max-width: 620px) {
  a.logo img { width: 12em; height: auto; }
  a.logo { width: 12em; font-size: .8em; }
  .button span.hideable { display: none; }
  .logout { margin-left: 1em; }
  header nav a .material-icons {display: none; }
}

/* ============================ */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1em;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align:middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
